/* Registration.css */
.register-form {
    max-width: 600px;
    height: 110vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .subheading1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .step {
    margin-bottom: 20px;
  }
  
  .form-element1 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .form-element1 label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="file"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  input[type="file1"] {
    padding: 5px;
  }
  
  input:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  span {
    color: red;
    font-size: 0.9em;
  }
  
  .form-navigation1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .nav-button1 {
    background-color: #3aa196;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    /* margin: 10px; */
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .submit-button1 {
    background-color: #233b5e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    /* margin: 10px; */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .nav-button1:hover {
    background-color: #3aa196;
  }
  
  .nav-button1:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  