.dashboard-container{
    height:auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures that the container takes at least the full height of the viewport */
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(72, 197, 183, 1) 21%, rgba(35, 59, 94, 1) 100%);
      
}

.dashboard-body{
    flex: 1;
}