.div-container{
    position: absolute;
    margin-right:40px;
    border-radius: 10px;
    right: 0;               /* Align to the right side */
    top: 20%;               /* Move to 30% of the viewport height */
    /*transform: translateY(-50%); /* Center vertically */
    width: 650px;           /* Set a fixed width for the form container */
    padding: 25px;
    background-color: #f9f9f9; /* Optional background color for styling */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow for aesthetics */
}

.heading{
    color: #233b5e;
    text-align: left;

}
